
@{
    ViewBag.Title = "SendMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order not placed successfully please verify your EmailID</h2>
<h3>Please Logout and for Activation Link please check your Mail Box<i class="fa fa-envelope" style="font-size:24px;color:red"></i></h3>
@*@TempData["Cart"]*@
