
@{
    ViewBag.Title = "SendMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order has been placed successfully</h2>
<h3>For more details please check your Mail Box<i class="fa fa-envelope" style="font-size:24px;color:red"></i></h3>
@*@TempData["Cart"]*@
