
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Email Id</label>
            @Html.TextBox("EmailId", "", new { @class = "form-control" })

        </div>
        <div>
            @*<button type="submit" class="btn btn-success" id="btnAlertEmail">SUBMIT</button>*@
            <button type="submit" id="btnAlertEmail" class="btn btn-success" onclick="myFunction()" style="font-family: Bradley Hand;">SUBMIT</button>
        </div>
    </div>

}
<script>
    function myFunction() {
        confirm("Please check your mail for Reset link \n And Reset your Password");
    }
</script>

