@{ ViewBag.Title = "About"; }
<h2 style="font-family: Bradley Hand;color:orchid">About Us</h2>


<aside class="pull-left">

        <img src="~/images/bethanylogo.png" style="height:200px;width:150px;padding-top:50px" />

</aside>

<div class="col-sm-3 col-lg-2 col-md-2">
    <div class="thumbnail">
        <img src="~/images/Monishankar.jpeg" alt="" style="height:150px">

        <div class="caption">
            <h3 class="pull-right" style="font-family: Bradley Hand;color:orchid">Monishankar Nath</h3>
        </div>
        <div class="addToCart">
            <a class="btn btn-primary" href="https://github.com/monishankarnath123microsoftzensar" style="font-family: Bradley Hand
    ;color:white">Know About Him</a>
        </div>
    </div>
</div>
        <div class="col-sm-3 col-lg-2 col-md-3">
            <div class="thumbnail">
                <img src="~/images/Subhojit.jpg" alt=""style="height:150px">
                <div class="caption">
                    <h3 class="pull-right" style="font-family: Bradley Hand;color:orchid" >Subhojit &nbsp;  Paul</h3>
                </div>
                <div class="addToCart">
                    <a class="btn btn-primary" style="font-family: Bradley Hand;color:white"  >Know About Him</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-2 col-md-3">
            <div class="thumbnail">
                <img src="~/images/Shreya.jpeg" alt=""style="height:150px">
                <div class="caption">
                    <h3 class="pull-right" style="font-family: Bradley Hand;color:orchid" >Shreya Tiwari</h3>
                </div>
                <div class="addToCart">
                    <a class="btn btn-primary"  style="font-family: Bradley Hand;color:white" >Know About Her</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-2 col-md-3">
            <div class="thumbnail">
                <img src="~/images/Geethika.jpeg" alt=""style="height:150px">
                <div class="caption">
                    <h3 class="pull-right"  style="font-family: Bradley Hand;color:orchid"  >Geethika Duddupudi</h3>
                </div>
                <div class="addToCart">
                    <a class="btn btn-primary" style="font-family: Bradley Hand;color:white" >Know About Her</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-lg-2 col-md-3">
            <div class="thumbnail">
                <img src="~/images/SmritiProject.jpeg" alt="" style="height:150px">
                <div class="caption">
                    <h3 class="pull-right" style="font-family: Bradley Hand;color:orchid"  >Smriti Malakar</h3>
                </div>
                <div class="addToCart">
                    <a class="btn btn-primary"  style="font-family: Bradley Hand;color:white"  >Know About Her</a>
                </div>
            </div>
        </div>
     
        <div class="jumbotron" style="background-image:radial-gradient(grey ,white);">
            <h3 style="margin-top:0px;font-family:Algerian;color:darkblue">Know more about Bethany's Pie Shop</h3>
            @*<div class="jumbotron" style="background-image:radial-gradient(grey ,white);">*@
            <div style="text-align:justify;column-count:3;">
                @*<h3 style="margin-top:0px;font-family:Algerian;color:darkblue">Know more about Bethany's Pie Shop</h3>*@
                <h5 style="font-family:'Franklin Gothic';color:black">
                    Bethany's Pie Shop will specialize in meat, vegetable and fruit pies made using old-country traditional family recipes from the UP - Michigan's Upper Peninsula. Our pies will be baked fresh everyday and sold hot directly to customers through our retail stores. We will also sell frozen pies in lunch and family sizes that can be cooked at home in an oven or microwave. Our products are low fat and free of genetically modified ingredients and will be complemented by an assortment of fresh premium salads and desserts.

                    By importing our products directly from a private label bakery in the UP we avoid high labor costs, expensive investment in manufacturing and production equipment, and additional warehousing and production facility costs. Our major costs will be limited to product purchasing, shipping and cold storage.

                    We have plans to expand the company through further retail outlets and are focused on developing a business model that is favorable to franchise possibilities. With an exclusive import license that could be used to sell frozen product through supermarkets and bulk wholesale food chains, UPer Crust Pies could quickly and clearly establish itself as the market leader.

                    We have identified four main keys to our success. The first is to secure stores in highly visible locations. The second will be our unique value-for-money product line. The third will be a focus on superior customer service and education, and the fourth key will be employee retention through training and internal promotion.

                    The proposed business location for the first Bethany's Pie Shop  will be in downtown Yubetchatown. At this stage five possible sites are being considered in three areas. UPer Crust Pies will target three market segments within the core metro district. Our largest target market is young adults and business people (42%). Our next largest market, and the one with the greatest growth potential, is families with children (36%), and our final target market will be 15-24 year olds which includes students (22%).

                    Our marketing strategy will be to attract new customers, educate those customers and then create a loyal customer base. UPer Crust Pies will attract consumers through highly visible signage, print media advertising, flyers, entertainment book coupons, word-of-mouth advertising and strategic alliances.

                    Our sales strategy includes hiring employees who genuinely enjoy their jobs. We will continually assess all aspects of the business and interact with our customers personally, evaluating food choices for popularity and keeping favorites on the menu as we rotate weekly and seasonal specials.

                    Bethany's Pie shop is a Limited Liability Company. All membership shares are currently owned by Monishankar Nath,Subhojit Paul,Smriti Malakar,Shreya Tiwari and Geethika Duddupudi, with the intent of using a portion of shares to raise capital. UPer Crust Pies is currently seeking a bank loan with an additional private investment contribution from outside investors. The majority of these funds will be used for corporate design, remodeling and lease payments three months prior to opening.
                </h5>
                </div>

            </div>


