@{ ViewBag.Title = "Contact Us"; }
<h2>@ViewBag.Title.</h2>
@*<h3>Our Contact Page</h3>*@

<aside class="pull-right">

    <img src="~/images/bethanylogo.png" style="height:300px;width:300px;" />

</aside>
<h1>Bethany's Pie Shop</h1>
<p>Phone No:03482-284622</p>
<p>Address:Bethany's Pie Shop - Bakery Street 555, Pune, India</p>

<div>
    <div style="display:inline-block">
        <h3>Geethika Duddupudi</h3>
        <p>Phone No:9001482231</p>
        <p>Email Id:geethika@bps.com</p>
     </div>


    <div style="display:inline-block;padding:50px">
        <h3>Monishankar Nath</h3>
        <p>Phone No:9001482578</p>
        <p>Email Id:monishankar.nath@bps.com</p>
    </div>


    <div style="display:inline-block">
        <h3>Shreya Tiwari</h3>
        <p>Phone No:9101452895</p>
        <p>Email Id:Shreya.tiwari@bps.com</p>
    </div>


    <div style="display:inline-block">
        <h3>Smriti Malakar</h3>
        <p>Phone No:8240254438</p>
        <p>Email Id:smritimalakar@bps.com</p>
    </div>


    <div style="display:inline-block;padding:50px">
        <h3>Subhojit Paul</h3>
        <p>Phone No:8921482578</p>
        <p>Email Id:subhojit.paul@bps.com</p>
    </div>
    </div>




@*<h3>Smriti Malakar</h3>
<p>Phone No:8240254438</p>
<p>Email Id:smritimalakar@bps.com</p>*@


@*<h3>Shreya Tiwari</h3>
    <p>Phone No:9101452895</p>
    <p>Email Id:Shreya.tiwari@bps.com</p>*@


@*<h3>Geethika Duddupudi</h3>
<p>Phone No:9001482231</p>
<p>Email Id:geethika@bps.com</p>*@
